.root,
body,
html {
  height : 100%;
}

body {
  line-height : 1.5;
}

.app,
body {
  background : white;
}

/* main page */

.bookshelf {
  padding : 0 10px 20px;
}

.list-books-title {
  z-index    : 400;
  position   : fixed;
  top        : 0;
  width      : 100%;
  padding    : 10px 0;
  background : linear-gradient(
                 45deg,
                 #2e7c31 20%,
                 purple
               );
  text-align : center;
}

.list-books-title h1 {
  margin      : 0;
  color       : white;
  font-weight : 400;
}

.list-books-content {
  padding          : 80px 0 80px;
  background-color : ghostwhite;
  flex             : 1;
}

.loadingAllBooks {
  display         : flex;
  height          : 100vh;
  color           : red;
  align-items     : center;
  font-size       : 50px;
  justify-content : center;
}

.loadingBook {
  display         : flex;
  width           : 128px;
  height          : 193px;
  color           : red;
  align-items     : center;
  justify-content : center;
}

@media (min-width: 600px) {
  .bookshelf {
    padding : 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom : 1px solid #dedede;
}

.bookshelf-books {
  text-align : center;
}

.open-search {
  position : fixed;
  right    : 25px;
  bottom   : 25px;
}

.open-search a {
  display             : block;
  width               : 50px;
  height              : 50px;
  border-radius       : 50%;
  background          : #2e7d32;
  background-image    : url('./icons/add.svg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 28px;
  box-shadow          : 0 3px 6px rgba(0,0,0,0.16),
                        0 3px 6px rgba(0,0,0,0.23);
  font-size           : 0;
  cursor              : pointer;
}

.open-search a:hover {
  background-color : purple;
}

/* search page */

.search-books-bar {
  z-index    : 5;
  display    : flex;
  position   : fixed;
  top        : 0;
  left       : 0;
  width      : 100%;
  box-shadow : 0 10px 20px rgba(0,0,0,0.19),
               0 0 6px rgba(0,0,0,0.23);
}

.search-books-input-wrapper {
  background : #e9e;
  flex       : 1;
}

.search-books-bar input {
  width     : 100%;
  padding   : 15px 10px;
  border    : none;
  outline   : none;
  font-size : 1.25em;
}

.close-search {
  display             : block;
  top                 : 20px;
  left                : 15px;
  width               : 50px;
  height              : 53px;
  background          : white;
  background-image    : url('./icons/arrow-back.svg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 28px;
  font-size           : 0;
}

.search-books-results {
  padding : 80px 10px 20px;
}

.search-terms-wrapper {
  padding : 10vh 0 0 0;
}

.search-terms {
  width   : 70%;
  margin  : 0 auto;
  padding : 20px;
}

.search-term-text {
  display   : inline-block;
  margin    : 0 5px;
  padding   : 3px;
  color     : blue;
  font-size : 12px;
}

.search-term-text-target {
  color            : black;
  background-color : yellow;
}

/* books grid */

.books-grid {
  display         : flex;
  margin          : 0;
  padding         : 0;
  flex-wrap       : wrap;
  justify-content : center;
  list-style-type : none;
}

.books-grid li {
  padding    : 10px 15px;
  text-align : left;
}

.book {
  width : 140px;
}

.book-authors,
.book-title {
  font-size : 0.8em;
}

.book-title {
  margin-top : 10px;
}

.book-authors {
  color : #999;
}

.book-top {
  display     : flex;
  position    : relative;
  height      : 200px;
  align-items : flex-end;
}

.book-shelf-changer {
  position            : absolute;
  right               : 0;
  bottom              : -10px;
  width               : 40px;
  height              : 40px;
  border-radius       : 50%;
  background          : #60ac5d;
  background-image    : url('./icons/arrow-drop-down.svg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 20px;
  box-shadow          : 0 3px 6px rgba(0,0,0,0.16),
                        0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer:hover {
  background-color : purple;
}

.book-shelf-changer select {
  width   : 100%;
  height  : 100%;
  opacity : 0;
  cursor  : pointer;
}

.label-number {
  color : #60ac5d;
}

/* book cover */

.book-cover {
  background : #eee;
  box-shadow : 0 3px 6px rgba(0,0,0,0.16),
               0 3px 6px rgba(0,0,0,0.23);
}

.book-cover-title {
  padding    : 20px 10px 0;
  text-align : center;
  font-size  : 0.8em;
}
